* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Share Tech', sans-serif;
    font-size: 68px;
    color: black;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 10px 10px;
}


header, h1 {
    font-size: 4rem;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-wrap: nowrap;
    max-height: 100px;
}

form {
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form input,
form button {
    font-size: 2rem;
    border: none;
    background: white;
    padding: 5px;
}

form button {
    cursor: pointer;
    color: black;
}

form button:hover {
    font-size: 2.5rem;
    transition-duration: 0.3s;
    color: rgb(30, 243, 30);;
    border-radius: 10px;
}

.todo-container {
    align-items: center;
    display: flex;
    justify-content: center;
}

.todo-list {
    list-style: none;
    min-width: 50%;

}

.todo {
    background: white;
    margin: 0.5rem;
    border: rgb(94, 94, 216);
    font-size: 1.5rem;
    display: flex;
    color: black;
    align-items: center;
    padding: 8px;
    font-weight: bold;
    border-radius: 4px;
    transition: all 0.3s ease;
    min-width: 570px;
    max-width: 745px;
}

.todo li {
    flex: 1;
}

.delete-btn,
.complete-btn {
    background: #94a3b8;
    color: black;
    padding: 1rem;
    border: white;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 8px;
    border-radius: 2px;
}

.complete-btn:hover {
    background: rgb(30, 243, 30);
    transform: scale(1.2);
    transition-duration: 0.2s;
    border-radius: 10px;

}

.delete-btn:hover {
    background: red;
    transform: scale(1.2);
    transition-duration: 0.2s;
    border-radius: 10px;
}

.fa-circle-check,
.fa-trash {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
    background-color: rgb(66, 188, 66);
}

.fall {
    transform: translateY(8rem) rotateZ(30deg);
    opacity: 0;
}

.filter-todo {
    font-size: 1.2rem;
    width: 120px;
    margin-left: 10px;
    border-radius: 4px;
    height: 50px;

}

.select {
    justify-content: center;
    display: flex;
}

.settings{
    display: flex;
    justify-content: right;
    padding-right: 22px;
    padding-top: 15px;
}
.settings-button{
    font-size: 1.5rem;
    border: none;
    color: black;
    cursor: pointer;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
}
.background-selector{
    position: absolute;
    right: 0;
    margin-right: 15px;
    z-index: 1000;
    visibility: hidden;
    background-color: #94a3b8;
    color: black;
    font-size: 35px;
    max-width: 230px;
    justify-content: right;
    max-height: 700px;
    flex-direction: row-reverse;
    border-radius: 10px;
}
.bg1, .bg2, .bg3, .bg4, .reset{ 
    margin: 5px;
    border-style: solid;
    border-color: black;
    border-style: dashed;
    border-radius: 5px;
    cursor: pointer;
    ;
}