* {
    margin: 0;
    padding: 0;
}

/*  add colours to boxes to see the UI stuff
*/

body {
    font-family: 'Share Tech', sans-serif;
    color: white;
    background-color: #343a40;

}

h1 {
    display: block;
    margin: 0 auto; /* Center horizontally */
    text-align: center; /* Center the text within the container */
}

@media (max-width: 300px) {
    h1 {
        font-size: 60px; /* Set a minimum font size for narrow viewports */
        /* Avoid overriding the margin here */
    }
}


header {
    display: block;
    font-family: sans-serif;
}


form {
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form input,
form button {
    font-size: 2rem;
    border: none;
    background: white;
    padding: 5px;
}

form button {
    cursor: pointer;
    color: black;
}

form button:hover {
    font-size: 2.5rem;
    transition-duration: 0.3s;
    color: rgb(30, 243, 30);;
    border-radius: 10px;
}

.todo-container {
    align-items: center;
    display: flex;
    justify-content: center;
}

.todo-list {
    list-style: none;
    min-width: 50%;

}

.todo {
    background: white;
    margin: 0.5rem;
    border: rgb(94, 94, 216);
    font-size: 1.5rem;
    display: flex;
    color: black;
    align-items: center;
    padding: 8px;
    font-weight: bold;
    border-radius: 4px;
    transition: all 0.3s ease;

}

.todo li {
    flex: 1;
}

.delete-btn,
.complete-btn {
    background: #94a3b8;
    color: black;
    padding: 1rem;
    border: white;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 8px;
    border-radius: 2px;
}

.complete-btn:hover {
    background: rgb(30, 243, 30);
    transform: scale(1.2);
    transition-duration: 0.2s;
    border-radius: 10px;

}

.delete-btn:hover {
    background: red;
    transform: scale(1.2);
    transition-duration: 0.2s;
    border-radius: 10px;
}

.fa-circle-check,
.fa-trash {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
    background-color: rgb(66, 188, 66);
}

.fall {
    transform: translateY(8rem) rotateZ(30deg);
    opacity: 0;
}

.filter-todo {
    font-size: 1.2rem;
    width: 120px;
    margin-left: 10px;
    border-radius: 4px;
    height: 50px;

}

.select {
    justify-content: center;
    display: flex;
}
#validationMessage{
    color: red;
    font-size: 20px;
    max-height: 30px;
    display: grid;
    margin-top: 100px;
}